
<!doctype html>
<html>
<head>
	<title><%= user.local.email %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<title><%= user.local.email %></title>
	<style type="text/css">

		@import url("/views/css/index.css");
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
	<div class="container">
		
		<div class="header2">
        
           <img id="logop" src="/views/img/logo.png" />
            
            <nav>
            
                <a class="nava" href="/lobby">Lobby</a>
                <a class="nava" href="/logout">Log Out</a>
                
            </nav>
            
    
        </div>
	
		<div class="row">
	
			<!-- LOCAL INFORMATION -->
			<div class="col-sm-6">
				<div class="well">
					<h3><span class="fa fa-user"></span> Local</h3>
	
						<p>
							<strong>id</strong>: <%= user._id %><br>
							<strong>email</strong>: <%= user.local.email %><br>
							<strong>password</strong>: <%= user.local.password %>
						</p>
	
				</div>
			</div>
	
		</div>
	
	</div>
</body>
</html>
